# HFS+ has KUnit tests available for testing Unicode string operations.
# Picked from fs/hfsplus/.kunitconfig
CONFIG_KUNIT=y
CONFIG_HFSPLUS_FS=y
# Setting CONFIG_HFSPLUS_KUNIT_TEST to m, so that:
# -Tests don't run at bootup.
# -We run them when needed using modprobe <module>.ko
CONFIG_HFSPLUS_KUNIT_TEST=m
CONFIG_BLOCK=y
CONFIG_BUFFER_HEAD=y
CONFIG_NLS=y
CONFIG_NLS_UTF8=y
CONFIG_LEGACY_DIRECT_IO=y
CONFIG_KUNIT_DEBUGFS=y
